*{
    margin:0;
    padding:0;
}

.apresentacao{
    display: flex;
    align-items: center;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #2F39A9;
    color: white;
}

.titulo-portfolio{
    font:200;
    color: white;
}

.titulo-destaque{
    color: #15D8B3;
}

a{
    background-color: #15D8B3;
    font-weight: bold;
    color: black;
    border: 1px solid #15D8B3;
    padding: 10px;
}